@import url('https://fonts.googleapis.com/css?family=Raleway');

.label1 {
    -fx-font-family: Raleway;
    -fx-font-size: 30
}

* {
    /*#3f51b5*/
    -fx-primary-color: #007acc;
    -fx-secondary-color: #4B6EAF;
    -fx-grey-color: #b9b9b9;

    -fx-focus-color: -fx-secondary-color;
}

.text-field {
    -fx-accent: -fx-primary-color;
    -fx-background-color: -fx-grey-color, white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
}
.text-field:focused {
    -fx-background-color: -fx-primary-color, white;
}


.title-pane {
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: -fx-primary-color;
    -fx-border-style: solid;
    -fx-background-insets: 3;
}

