@import url('https://fonts.googleapis.com/css?family=Raleway');

.switch {
    /*-material-design-color               : #3f51b5;*/
    /*-material-design-color-transparent-12: #3f51b51f;*/
    /*-material-design-color-transparent-24: #3f51b53e;*/
    /*-material-design-color-transparent-40: #3f51b566;*/

    /*-material-design-color               : #007acc;*/
    /*-material-design-color-transparent-12: #007acc1f;*/
    /*-material-design-color-transparent-24: #007acc3e;*/
    /*-material-design-color-transparent-40: #007acc66;*/

    -material-design-color               : white;
    -material-design-color-transparent-12: #61616110;
    -material-design-color-transparent-24: #6161613e;
    -material-design-color-transparent-40: fafafa;

    -fx-font-family  : "Century Gothic";
    -fx-font-size    : 13.0px;
    -fx-label-padding: 0em 0em 0em 1.1em;
    -fx-text-fill    : -fx-text-background-color;
}
.switch > *.box {
    -fx-background-color : #00000066;
    -fx-pref-height      : 20;
    -fx-pref-width       : 40;
    -fx-background-radius: 1024px;
    -fx-background-insets: 2.5;
    -fx-padding          : 0;
}
.switch:selected > *.box {
    -fx-background-color: -material-design-color-transparent-40;
}
.switch:disabled > *.box {
    -fx-background-color: #007acc1f; /* #0000001f */
}
.switch > *.box > *.mark {
    -fx-background-color : red; /* fafafa */
    -fx-padding          : 0;
    -fx-background-insets: 0 10 0 10;
    -fx-background-radius: 1024px;
    -fx-translate-x      : -8px;
    -fx-effect           : dropshadow(gaussian, rgba(0, 0, 0, 0.3), 4.0, 0.5, 0.0, 1);
}
.switch:hover > *.box > *.mark {
    -fx-background-color : red, white; /* #61616110 */
    -fx-background-insets: -5 5 -5 5, 0 10 0 10;
    -fx-background-radius: 1024px, 1024px;
    -fx-effect           : dropshadow(gaussian, rgba(0, 0, 0, 0.3), 4.0, 0.2, 0.0, 1);
}
.switch:selected:hover > *.box > *.mark {
    -fx-background-color : -material-design-color-transparent-12, -material-design-color;
    -fx-background-insets: -5 5 -5 5, 0 10 0 10;
    -fx-background-radius: 1024px, 1024px;
    -fx-effect           : dropshadow(gaussian, rgba(0, 0, 0, 0.3), 4.0, 0.2, 0.0, 1);
}
.switch:selected > *.box > *.mark {
    -fx-background-color : -material-design-color;
    -fx-background-insets: 0 10 0 10;
    -fx-background-radius: 1024px;
    -fx-translate-x      : 8px;
}
.switch:focused > *.box > *.mark {
    -fx-background-color : red, white; /*#6161613e*/
    -fx-background-radius: 1024px, 1024px;
    -fx-effect           : dropshadow(gaussian, rgba(0, 0, 0, 0.3), 4.0, 0.2, 0.0, 1);
}
.switch:selected:focused > *.box > *.mark {
    -fx-background-color : -material-design-color-transparent-24, -material-design-color;
    -fx-background-radius: 1024px, 1024px;
    -fx-effect           : dropshadow(gaussian, rgba(0, 0, 0, 0.3), 4.0, 0.2, 0.0, 1);
}
.switch:indeterminate > *.text {
    -fx-fill: -required-text-color;
}
.switch:indeterminate > *.box > *.mark {
    -fx-background-color : transparent;
    -fx-border-color     : -material-design-color;
    -fx-border-radius    : 1024px;
    -fx-border-insets    : 0 10 0 10;
    -fx-border-width     : 3;
    -fx-translate-x      : 0;
}
.switch:disabled > *.box > *.mark {
    -fx-background-color: red; /*bdbdbd*/
}
.switch:disabled {
    -fx-opacity: 1;
}
